#d {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  margin: 0;
  text-align: center;
}

#d0 {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#d1 {
  font-family: "Bookman Old Style";
}

#t1 {
  width: 100%;
  border: 2px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Cambria;
}

#h3 {
  color: grey;
  margin-top: 10px;
  text-align: left;
  font-family: Cambria;
}